.Card {
  padding: 1px 3px;

  border: 0.2vw;
  border-color: #000000;
  border-style: solid;
  border-radius: 10px;

  width: 63px;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #910d0d;
}
.Card p {
  font-weight: bold;
  text-align: center;
  max-height: 100%;
  overflow: hidden;
}
